/* typefaces */
@import url('https://fonts.googleapis.com/css?family=Merriweather:700');

/* page setup */ 

.bg-home {
min-height: 100%; 
    height: auto !important; 
    margin: 0 auto;

    
    background-color: #fff;
    background: -webkit-linear-gradient(45deg, #d4e7ff, #ffd3ea, #d4e7ff, #ffd3ea, #c6ffff, #fdffdb) fixed;
    background: linear-gradient(45deg, #d4e7ff, #ffd3ea, #d4e7ff, #ffd3ea, #c6ffff, #fdffdb) fixed;
    background-size: 1000% 1500%; /* X Y -- Y must be longer than height of page */
        background-repeat: no-repeat;

    -webkit-animation: HomeGradient 45s ease infinite;
    animation: HomeGradient 45s ease infinite;
    }
    @-webkit-keyframes HomeGradient {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes HomeGradient {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%} 
}



body > .container-fluid { overflow: hidden; }        /* width fix */
body > .container-fluid > * { overflow: visible; }   /* reset back to normal */

.col-sm-2 {
    padding-right: 2em;
    padding-left: 2em;
} 
.col-sm-3 {
    width: 23%;
}
.centre-col {
    width: 18%;
}
.about-page {
    background-color: #fff;
    position:absolute;
    height: 100%;
    width: 62%;
    top: 65%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -27%);
    border: 1px solid #fff;
} 
.row-1 {
    height:30em; 
    padding-top:12vh
}
.row-3 {
    height:25em; 
    padding-top:20em
    }
.header-small {
    position: relative;
}
.row-height-about {
    height: 30em;
} 

/* header */

.row-height {
    height: 0em;
} 
.container-fluid {
    padding: 0px;
}

#header-container {
    padding: 1.9em 0em 1.2em 0em;
    z-index: 20;
}
#header:hover {
    background-color: #fff;
    padding: 2px 0px;
}

/* intro */

.intro-about {
    position: fixed;
    left:50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%,0%);
    padding-top: 24vh;
    font-size: 1.45rem;
    line-height: 1.55;
    /*min-width: 42em; */
    max-width: 28em;
}
    .intro-about > p {
    display: inline; 
    background: #fff;
    padding: 2px 0px 2px 0px;
    color: #414141
}
.intro-height {
    height: 50vh
}


/* typography */

p {
    font-family: 'Inconsolata', Courier, "Lucida Grande", monospace;
    color: #000;
} 
h2 {
    margin: 0em 0em 3em 0em;
    font-family: 'Merriweather', "Lucida Grande", serif; 
    font-size:0.9em;
    font-weight: 400; 
    line-height:1; 
    letter-spacing:0.01em 
}
h5 {
        margin: 0em 0em 0.6em 0em;
    font-family: 'Merriweather', "Lucida Grande", serif; 
    font-size:0.8em;
    font-weight: 400; 
    line-height:1.4; 
    letter-spacing:0.01em 
}


.sidebar a:hover {
    text-decoration: none;
}
.sidebar p {
    display: inline;
}
#sidebar1 {
    background-color: #f3f8fe;
    width: 12em;
    margin: 0.5em 0em;
}
#sidebar2 {
    background-color: #f7f7f7;
    width: 12em;
    margin: 0.5em 0em;
}
#sidebar3 {
    background-color: #f7f7f7;
    width: 12em;
    margin: 0.5em 0em 1.5em 0em;
}
#sidebar4 {
    background-color: #fff;
    width: 12em;
    margin: 0.5em 0em;
}
#sidebar1:hover, #sidebar2:hover, #sidebar3:hover, #sidebar4:hover {
    background-color: #ffe4f2;
}
.currently {
    font-size: 0.9em;
    line-height: 1.4;
    max-width: 20em
}
.useful {
    font-size: 0.75em;
    line-height: 1.1;
    display: block;
    padding: 1px 0px;    
}
.details {
    font-size: 0.75em;
    color: #525252;
    letter-spacing:0.02em;
    margin-bottom: 3em
}

.spacer {
    margin-bottom: 3.7em
}
.kern-tighter {
    letter-spacing: -0.05em
}
.kern-looser {
    letter-spacing: 0.1em
}
a, a:link, a:visited, a:hover {
    color: #000;
    text-decoration: none;   
}
.underline {
display: inline-block;
  position: relative;     
}
.underline::after {
content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 3px solid #e8f1fd;
  margin-top: 6px;
}
.baselineshift {
    position: relative; 
    top: -.12rem
}
.arrowsize {
    font-size: 1.5rem;
}

/* footer */


.footer-about > p {
    display: inline-block; 
    font-size: 1rem;
    letter-spacing: 0.01rem;
    background: #fff;
    padding: 0.1em 0.8em 0.15em 0.8em;
    color: #414141
}


/* media queries ================================================ */


/* XS ----------- */
@media only screen and (max-width: 760px) {
    .container, .row, .col-xs-12 .container-fluid, .visible-xs-block { 
    padding: 0px !important;
        margin: 0px;
}
    .bg-home {
    -webkit-animation: HomeGradient 35s ease infinite;
    animation: HomeGradient 35s ease infinite;
    }
    html, body {
    /* overflow-x: hidden; */
}
    body > .container-fluid { overflow: hidden; } /* width fix */
    body > .container-fluid > * { overflow: visible; } /* reset back to normal */
    
    body {
    z-index: 1;
    font-size: 1.5em;  
    display:block;
    height: 100%;
    width: 100%;
}
    a, a:link, a:visited {
    color: none;
    text-decoration: none;   
}
    a:hover {
    text-decoration: none;   
    padding: 0px;
}
    a:active {
    color: none;
    text-decoration: none;  
}
    .row-height {
    height: 10.5em;
}
    #header-container {   
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    display: block;
    padding: 5.75em 0em 4em 0em
}
    .about-page {
    height: 110em;    
    width: 96%;
    /*top: 52em;
    left: 50%;*/

    -webkit-transform: translate3d(-50%, 0em, 0);
transform: translate3d(-50%, 0em, 0)        

} 
.col-sm-3 {
    width: 11%;
}
.col-sm-2 {
    width: 100%;
    padding: 0em 0em 4em 4.1em;
}   
.intro-height {
    height: 25em
} 
.intro-about {
    padding-top: 3em;
    font-size: 1.15rem;
    line-height: 1.7;
    width: 80%;
} 
        .row-3 {
    height:5em; 
    padding-top:3em
}  
    


    
    /* Footer */
    
    .footer-home {
    display: none;
}
    .footer-home-xs {
    background-color: #fff;
    width: 100%;
    height: 6em;
    text-align: center;
    vertical-align: middle;
    line-height: 6em;   
}
    .zigzag-xs {
    background-color: #000;
    position: relative;
    width: 100%;
    height: 6em
}
    .zigzag-xs:before {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    width: 100%;
    height: 10px;  
}
    .zigzag-wrap{
    background: #fff;
}
    .zigzag-wrap:before {
    background:
    -webkit-linear-gradient(
    45deg, transparent 33.333%,
    #fff 33.333%, #fff 66.667%,
    transparent 66.667%
    ),
    -webkit-linear-gradient(
    135deg, transparent 33.333%,
    #fff 33.333%, #fff 66.667%,
    transparent 66.667%
    );
    background:
    linear-gradient(
    45deg, transparent 33.333%,
    #fff 33.333%, #fff 66.667%,
    transparent 66.667%
    ),
    linear-gradient(
    -45deg, transparent 33.333%,
    #fff 33.333%, #fff 66.667%,
    transparent 66.667%
    );
    background-size: 10px 20px;
}    
    .baselineshift {
    top: -0.02em
}
    .mail {
    height: 1rem;
    width: auto;
    line-height: 6em;
    vertical-align: middle;
    position: absolute;
    top: 0.25em;
    }
    
    



}

/* S ----------- */
@media (min-width: 768px) and (max-width: 991px) {
    #header-container {   
    padding: 13vh 0em 0.5em 0.5em;
     /*background-color:antiquewhite; */
}
    body {
    background-size: 1000% 1600%; /* X Y -- Y must be longer than height of page */
    font-size: 1.25em;        
}
    .about-page {
    height: 90em;    
    width: 94%;
    top: 75vh;
    left: 50%;
} 
.intro-about {
    padding-top: 23vh;
    font-size: 1.4rem;
    line-height: 1.55;
}    
    .intro-height {
    height: 47vh
} 
    .col-sm-2 {
    margin-right: 4em;
    margin-left: 1em;
    padding: 0em;
}
.col-sm-3 {
    width: 11%;
}
.centre-col {
    width: 26%;
    }
.row-1 {
    height:28em; 
    padding-top:9em
} 
.row-3 {
    height:19em; 
    padding-top:15.5em
}    
    .baselineshift {
    top: -0.05em;
    font-family: 'Inconsolata', "Times New Roman", Times, serif;
}
@media (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
    .about-page {
    height: 90vh;    
    width: 94%;
    top: 60vh;
    left: 50%;
} 
    .row-3 {
    height:24em; 
    padding-top:20em
}  
    }}


/* M ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
    #header-container {   
        padding: 13vh 0em 0.5em 0.5em;
        /* background-color:beige; */
}
    body {
    background-size: 900% 1200%; /* X Y -- Y must be longer than height of page */
    font-size: 1.35em;        
}
    .about-page {
    height: 84em; 
    width: 85%;
    top: 61%;
    left: 50%;
} 
    .intro-height {
    height: 48vh
} 
    .col-sm-2 {
    margin-right: 2em;
    margin-left: 1em;
    padding: 0em;
}
.col-sm-3 {
    width: 14%;
}
.centre-col {
    width: 26%;
}  
.row-3 {
    height:19em; 
    padding-top:13.5em
}       
    .baselineshift {
    top: -0.05em;
    font-family: 'Inconsolata', "Times New Roman", Times, serif;
}
}



/* L ----------- */
@media (min-width: 1200px) and (max-width: 1499px) {
    #header-container {   
        padding: 13vh 0em 0.5em 0em;
        /*background-color:darkseagreen; */
}
    body {
    background-size: 900% 1900%; /* X Y -- Y must be longer than height of page */
    font-size: 1.35em;    
}
    .about-page {
    height: 95%;
    width: 74%;
    top: 63%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -27%);
}
    .intro-height {
    height: 46vh
}
.col-sm-3 {
    width: 20%;
}
.centre-col {
    width: 23%;
}
.row-3 {
    height:25em; 
    padding-top:20em
}     
    .useful {
    font-size: 0.77em;
    line-height: 0.95;
}
    .details {
    font-size: 0.8em;
    letter-spacing:0.01em;
}
    .baselineshift {
    top: 0.02rem;
    font-family: 'Inconsolata', "Times New Roman", Times, serif;
}
}


/* XL ----------- */
@media (min-width: 1500px) {
    #header-container {   
        padding: 14vh 0em 0em 0em;
         /*background-color: aliceblue; */
    }
    body {
    background-size: 900% 1700%; /* X Y -- Y must be longer than height of page */
        }
    .baselineshift {
    top: -0.08em;
    font-family: 'Inconsolata', Courier, "Lucida Grande", monospace;
    position: relative;
}
    .row-1 {
    height:30em; 
    padding-top:12vh
    }
}

