/* page setup */ 

body {
    z-index: -5;
    display:block;
    height: 100%;
    width: 100%;
    
    /* background: linear-gradient(45deg, #e8f1fd, #ffe4f2, #e8f1fd, #ffe4f2, #d6ffff, #feffed); */
    /* background: linear-gradient(45deg, #d4e7ff, #ffd3ea, #d4e7ff, #ffd3ea, #c6ffff, #fdffdb); */
    background-color: #fff;
    background: -webkit-linear-gradient(45deg, #d4e7ff, #ffd3ea, #d4e7ff, #ffd3ea, #c6ffff, #fdffdb);
    background: linear-gradient(45deg, #d4e7ff, #ffd3ea, #d4e7ff, #ffd3ea, #c6ffff, #fdffdb);
    background-size: 1000% 1500%; /* X Y -- Y must be longer than height of page */
    -webkit-animation: HomeGradient 45s ease infinite;
    animation: HomeGradient 45s ease infinite;
    }
    @-webkit-keyframes HomeGradient {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes HomeGradient {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
.homebg {
    background-color: #fff;
    position: fixed;
    height: 96.2%;
    width: 97.8%;
    /* 96.2% W x 93.8% H */
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
} 
table {
    height: 85em !important;
    width: 100% !important;
    display: table !important;
    border-collapse: separate;
    margin-left: auto;
    margin-right: auto;
}
.post, .arrow {
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:50% 55%;
    background-size:auto 65%;
}
#postcontainer {
    display:inline-block;
    width:100%;
    height:100%;
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
}
 .caption {
    position: absolute;
    text-align: center;
    font-size: 0.9em;
    letter-spacing: 0.02em;
    padding-left: 2em;     
} 
/*.caption p {
    padding: 1em;
}*/

.post td {
    width: 22%;
    padding-top: 45em;
    padding-bottom: 40em;
    margin-left: 3vw;
}
.arrow td {
    font-size: 2em;
    padding: 12.75em 0em 0em 0em;
    }
.arrow td p {
    font-family: 'Inconsolata', "Times New Roman", Times, serif;   
}


/* typography */

p {
    font-family: 'Inconsolata', Courier, "Lucida Grande", monospace;
    color: #000;
} 
.primary {
    font-family: 'Merriweather', "Lucida Grande", serif; 
    font-size:0.95em;
    font-weight: 300; 
    line-height:1; 
    letter-spacing:0.01em
}
.secondary {
    font-size: 2em;
    font-family: "Lucida Grande"; 
}
a, a:link, a:visited {
    color: #000;
    text-decoration: none;   
}
a:hover {
    color: #000;
    background-color: #e8f1fd;
    text-decoration: none;   
    padding: 2px 0px;
}
.caption a:hover {
    background-color: #e8f1fd;  
    padding: 0px;
}
a:active {
    color: #000;
    text-decoration: none;  
}
.underline {
display: inline-block;
  position: relative;     
}
.underline::after {
content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 3px solid #e8f1fd;
  margin-top: 10px;
}
.baselineshift {
    position: relative; 
    top: -.12rem
}
.arrowsize {
    font-size: 1.5rem;
}


/* header */

.row-height {
    height: 0em;
} 
.container-fluid {
    padding: 0px;
}
#header-container {
    z-index: 20;
}
#header-container {
    padding: 1.9em 0em 1.2em 0em;
}

/* footer */

.footer-home {
    position: fixed;
    left:50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%,0%);
    bottom: 5em;
    font-family: 'Inconsolata', Courier, "Lucida Grande", monospace;
    font-size: 0.8em;
    letter-spacing: 0.02em;
    padding-top:1.8em;
    padding-bottom: 1.8em;
}



/* media queries ================================================ */


/* XS ----------- */
@media only screen and (max-width: 760px) {
    .container, .row, .col-xs-12 .container-fluid, .visible-xs-block { 
    padding: 0px !important;
        margin: 0px;
}
    html, body {
    /* overflow-x: hidden; */
}
    body > .container-fluid { overflow: hidden; } /* width fix */
    body > .container-fluid > * { overflow: visible; } /* reset back to normal */
    
    body {
    z-index: 1;
    display:block;
    height: 100%;
    width: 100%;
    background-color: #fff;
    background: none;
    background-size: 100%;
    -webkit-animation: none;
    animation: none;
    }
    .homebg {
    display:none;
} 
    a, a:link, a:visited {
    color: none;
    text-decoration: none;   
}
    a:hover {
    color: none;
    background-color: #e8f1fd;
    text-decoration: none;   
    padding: 0px;
}
    a:active {
    color: none;
    text-decoration: none;  
}
    .row-height {
    height: 10.5em;
}
    .xs-menu {
    z-index: 5;
    position: fixed;
    left: 0;
    top: 0;
    display: table-cell;
    vertical-align: middle;
    background-color: #fff;
    width: 3.5em;
    height: 3.5em;
}
    .xs-menu p {
    text-align: center;
    vertical-align: middle; 
    font-size: 1.65em;
    letter-spacing: -0.15em;
    position: relative; 
    top: 0.11em;
    left: -0.1em;    
    padding: 0em;
}
    #header-container {   
    position: fixed;
    z-index: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: block;
    padding: 5.75em 0em 4em 0em
}
    #header-container img {
    max-width: 100%;
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}
    .xs-post {
    /* z-index: 3; */
    /* padding-top: 27vh; */   
    /* position: relative; */
    display: block;
    width: 100%;
    }
    .xs-post img {
    width: 100%;
    height: auto;
    padding: 0px;
    }
    
    

    /* Caption */
    
    .xs-captionwrap {
    position:relative;
}
    .xs-caption {
    position: absolute; 
    top: 31vw;
    left: -43vw;
    text-align: center; 
    width: 100%; 
}
    .xs-caption p {
    color: #fff; 
    -webkit-transform: rotate(270deg); 
    transform: rotate(270deg)    
}
    .captionarrow {
    position: absolute; 
    top: 55vw;
    left: -43vw;
    text-align: center; 
    width: 100%; 
}
    .captionarrow p {
    color: #fff; 
    position: relative;
        left: 0.5vw;
    -webkit-transform: rotate(360deg); 
    transform: rotate(360deg)        
    }

    
    /* Footer */
    
    .footer-home {
    display: none;
}
    .footer-home-xs {
    background-color: #fff;
    width: 100%;
    height: 6em;
    text-align: center;
    vertical-align: middle;
    line-height: 6em;   
}
    .zigzag-xs {
    background-color: #000;
    position: relative;
    width: 100%;
    height: 6em
}
    .zigzag-xs:before {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    width: 100%;
    height: 10px;  
}
    .zigzag-wrap{
    background: #fff;
}
    .zigzag-wrap:before {
    background:
    linear-gradient(
    45deg, transparent 33.333%,
    #fff 33.333%, #fff 66.667%,
    transparent 66.667%
    ),
    linear-gradient(
    -45deg, transparent 33.333%,
    #fff 33.333%, #fff 66.667%,
    transparent 66.667%
    );
    background-size: 10px 20px;
}    
    .baselineshift {
    top: -0.02em
}
    .mail {
    height: 1rem;
    width: auto;
    line-height: 6em;
    vertical-align: middle;
    position: absolute;
    top: 0.25em;
    }
    
    /* Experimental */
    



}

/* S ----------- */
@media (min-width: 768px) and (max-width: 991px) {
    #header-container {   
    padding: 13vh 0em 0.5em 0.5em;
    /* background-color:antiquewhite; */
}
    body {
    background-size: 1000% 1600%; /* X Y -- Y must be longer than height of page */
        }
    .homebg {
    height: 96.4%;
    width: 97.7%;
}
    table {
    height: 65em !important;
}
    .post, .arrow {
    background-position:50% 59%;
    background-size:auto 58%;
}
     .caption {
    font-size: 0.85em;
}
    .post td {
    width: 20vw;
    padding-top: 53vh;
    padding-bottom: 49.5vh;
    margin-left: 1vw;
}
    .arrow td {
    font-size: 1.5em;
    padding: 51vh 0vw 48vh 1vw;
}
    .secondary {
    font-size: 1.5em;
        padding: 0px 0px 0px 8px;
}
    .secondary > p > a:hover {
        padding: 1px 5px 0px 5px !important;
}
    a:active {
    padding: 0px;
}
    .footer-home {
    bottom: 3vh;
    font-size: 0.8em;
}
    .last {
    height: 68em !important;
}
    .last td {
    padding-top: 53vh;
    padding-bottom: 30vh;
    }
    .baselineshift {
    top: -0.05em;
    font-family: 'Inconsolata', "Times New Roman", Times, serif;
}
    
}
@media (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
    #header-container {   
    padding: 23vh 0em 0.5em 0.5em;
}
    .homebg {
    height: 97.7%;
    width: 96.7%;
}
    table {
    height: 70em !important;
}
    .post, .arrow {
    background-position:50% 52%;
    background-size: 58% auto;
}
    .footer-home {
    bottom: 10vh;
    font-size: 0.8em;
}
}

/* M ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
    #header-container {   
        padding: 13vh 0em 0.5em 0.5em;
        /* background-color:beige; */
}
    body {
    background-size: 900% 1200%; /* X Y -- Y must be longer than height of page */
        }
    .homebg{
    height: 97.2%;
    width: 98.2%;
    }
    table {
    height: 80em !important;
}
    .post, .arrow {
    background-position:50% 59%;
    background-size:auto 58%;
}
     .caption {
    font-size: 0.9em;
}
    .post td {
    width: 20vw;
    padding-top: 53vh;
    padding-bottom: 49.5vh;
    margin-left: 1vw;
}
    .arrow td {
    font-size: 1.5em;
    padding: 51vh 0vw 48vh 1vw;
}
    .secondary {
    font-size: 1.75em;
}
    .secondary > p > a:hover {
        padding: 1px 5px 0px 5px !important;
}
    .footer-home {
    bottom: 4vh;
    font-size: 0.8em;
}
    .last {
    height: 68em !important;
}
    .last td {
    padding-top: 53vh;
    padding-bottom: 30vh;
    }
    .baselineshift {
    top: -0.05em;
    font-family: 'Inconsolata', "Times New Roman", Times, serif;
}
}
@media (min-width: 992px) and (max-width: 1199px) and (orientation: portrait) {
        #header-container {   
        padding: 23vh 0em 0.5em 0.5em;
}
    .homebg {
    height: 98.2%;
    width: 98.2%;
    }
    .post, .arrow {
    background-size: 68% auto;
}
    .footer-home {
    bottom: 8vh;
}
}


/* L ----------- */
@media (min-width: 1200px) and (max-width: 1499px) {
    #header-container {   
        padding: 13vh 0em 0.5em 0em;
        /* background-color:darkseagreen; */
    }
    body {
    background-size: 900% 1900%; /* X Y -- Y must be longer than height of page */
        }
    .homebg {
    height: 97.5%;
    width: 98.5%;
}
    table {
        height: 85em !important;
}
    .post, .arrow {
        background-position:50% 58%;
        background-size:auto 58%;
}
    .post td {
    width: 20vw;
    padding-top: 52vh;
    padding-bottom: 49.5vh;
    margin-left: 1.5vw;
}
    .arrow td {
        font-size: 1.5em;
        padding:  51vh 0vw 48vh 1vw;
}
     .caption {
    font-size: 0.9em;
    padding-left: 2em;     
} 
    .secondary {
        font-size: 1.75em;
        padding: 0px 5px;
}
        .secondary > p > a:hover {
        padding: 0px 5px !important;
}
    .footer-home {
        bottom: 3vh;
        font-size: 0.9em;
}
    .last {
        height: 68em !important;
}
    .last td {
        padding-top: 37rem;
        padding-bottom: 20em;
    }
    .baselineshift {
    top: 0.02rem;
    font-family: 'Inconsolata', "Times New Roman", Times, serif;
    }
    .arrowsize {
    font-size: 1.5rem;
}
}
@media (min-width: 1200px) and (max-width: 1499px) and (orientation: portrait) {
    #header-container {   
        padding: 20vh 0em 0.5em 0em;
    }
    .homebg {
    height: 98.5%;
    width: 98.5%;
}
    .post, .arrow {
    background-size: 66% auto;
}
    .footer-home {
    bottom: 10vh;
}
}

/* XL ----------- */
@media (min-width: 1500px) {
    #header-container {   
        padding: 14vh 0em 0em 0em;
        /* background-color: aliceblue; */
    }
    body {
    background-size: 900% 1700%; /* X Y -- Y must be longer than height of page */
        }
    .homebg {
    height: 97.5%;
    width: 98.5%;
}    
    table {
    height: 78em !important;
}
    .post, .arrow {
    background-position:50% 55%;
    background-size:auto 55%;
}
    .post td {
    width: 15vw;
    padding-top: 52vh;
    padding-bottom: 49.5vh;
    margin-left: 3.5vw;
}
    .arrow td {
    font-size: 1.5em;
    padding: 50vh 0vw 50vh 1vw;
}
    .baselineshift {
    top: -0.05em;
    font-family: 'Inconsolata', Courier, "Lucida Grande", monospace;
        position: relative;
    }
    .secondary {
    font-size: 1.5em;
}
    .secondary > p > a:hover {
        padding: 0px 8px !important;
}
    .footer-home {
        bottom: 3vh;
}
      .last td {
    padding-top: 47rem;
          padding-bottom: 0rem
}
}
@media (min-width: 1500px) and (orientation: portrait) {
        .post, .arrow {
    background-position:50% 55%;
    background-size: 50% auto;
}
}


/* about ================================================ */

.aboutbg {
    background-color: #fff;
    position:absolute;
    height: 90%;
    width: 62%;
    top: 65%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
} 
.footer-about {
    position: fixed;
    left:50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%,0%);
    bottom: 0.5em;
    font-family: 'Inconsolata', Courier, "Lucida Grande", monospace;
    font-size: 0.8em;
    letter-spacing: 0.02em;
    padding-top:1.8em;
    padding-bottom: 1.8em;
}

.header-small {
    position: relative;
}

.whitegradabout {
    width: 100%;
    height: 100%;
    z-index: 30;
    position: fixed;
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,1), rgba(255,255,255,0));
    background: -webkit-linear-gradient(bottom, rgba(255,255,255,0.8), rgba(255,255,255,0));
    background: linear-gradient(0deg, rgba(255,255,255,0.8), rgba(255,255,255,0));
}

/* experimental ================================================ */




