/* page setup */

body {
    z-index: -5;
    display:block;
    height: 100%;
    width: 100%;
    
    background: linear-gradient(45deg, #e8f1fd, #ffe4f2, #e8f1fd, #ffe4f2, #d6ffff, #feffed);
    background-size: 600% 1200%; /* X Y -- Y must be longer than height of page */
    -webkit-animation: HomeGradient 25s ease infinite;
    -moz-animation: HomeGradient 25s ease infinite;
    -o-animation: HomeGradient 25s ease infinite;
    animation: HomeGradient 25s ease infinite;
    }
    @-webkit-keyframes HomeGradient {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes HomeGradient {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-o-keyframes HomeGradient {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes HomeGradient {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
table {
    height: 85em !important;
    width: 100% !important;
    display: table !important;
    border-collapse: separate;
    margin-left: auto;
    margin-right: auto;

}
.post, .arrow {
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:50% 55%;
    background-size:auto 65%;
}
#postcontainer {
    display:inline-block;
    width:100%;
    height:100%;
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
}
 .caption {
    position: absolute;
    text-align: center;
    font-size: 0.85em;
    letter-spacing: 0.02em;
} 
.caption p {
    padding: 1em;
}

.post td {
    width: 22%;
    padding-top: 45em;
    padding-bottom: 40em;
    margin-left: 1em;
}
.arrow td {
    font-size: 2em;
    padding: 12.75em 0em 0em 0em;
    }
.homebg {
    background-color: #fff;
    position: fixed;
    height: 96%;
    width: 97.8%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 



/* typography */

p {
    font-family: 'Inconsolata', Courier, monospace;
    color: #000;
} 

a, a:link, a:visited {
    color: #000;
    text-decoration: none;   
}
a:hover {
    color: #000;
    background-color: #e8f1fd;
    text-decoration: none;   
    padding: 2px 0px;
}
a:active {
    color: #000;
    text-decoration: none;  
}


/* header */

#header-container {
    z-index: 20;
}
#header-container {
    padding: 1.9em 0em 1.2em 0em;
}
@media only screen and (max-width: 760px) {
    #header-container {   
    padding: 1.9em 0em 4em 0em;
}
}
@media screen and (min-width: 1200px) {
    #header-container {   
    padding: 7.75em 0em 0em 0em;
}
}

/* footer */

.footer-home {
    position: fixed;
    left:50%;
    transform: translate(-50%,0%);
    bottom: 5em;
    font-family: 'Inconsolata', Courier, monospace;
    font-size: 0.8em;
    letter-spacing: 0.02em;
    padding-top:1.8em;
    padding-bottom: 1.8em;
}



