/* typefaces */
@import url(https://fonts.googleapis.com/css?family=Merriweather:300italic,300,400);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

/* page setup */
* {
		margin: 0;
		padding: 0;
	} 
/* preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99;
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../../links/images/preloader.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    max-width: 100%;
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

/* XS page setup */
@media screen and (max-width: 767px) {
    .container {
      padding:0em;
      margin:0;
    }
}
	
figure {margin: 0;}

body,html {
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(255,255,255);
    color: #000;
    background-size:cover;
    background-attachment:fixed;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    font-size: 1.35em;
    }



/* header */

.row-height {
    height: 6em;
} 
#header-container {
    position: fixed;
    z-index: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: block;
    padding: 1.9em 0em 1.2em 0em;
}
#header-container img {
    max-width: 100%;
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

/* footer */
.footer {
    font-family: 'Inconsolata', Courier, "Lucida Grande", monospace;
    font-size: 0.8em;
    letter-spacing: 0.02em;
    padding-top:1.8em;
    padding-bottom: 1.8em;
} 
.footer a {
  color: #000;
  text-decoration: none;
}
.footer a:hover {
    text-decoration: none;
    /* color: #0052c1;
    background-color: #e8f1fd; */
    color: #000;
    background-color: #fff;
    padding: 2px 0px;
}
@media (min-width: 1500px) {

.projectinfo {
padding-left: 0.75em
}
}

/*.col-sm-8 {
    width: 69%;
}
.col-sm {
    width: 25%
}*/
.col-sm-8 img {
    width: 100%;
    z-index: 10;
}

iframe {
    width: 100%;
    z-index: 10;

}

ol, table, p, a, table, td, tr {
    margin:0;
    padding:0;
}

/* remove 1px between rows */
.rowfix { 
    margin-bottom:-1px; 
}

/* project pages */   
.fixed {
    position: fixed;
    margin: 0;
    padding: 0 !important;
}    

/* typesetting */       
p, h3, li {
    color: #000;
    }    
.projectinfo {
    font-family: 'Merriweather', serif;  
    letter-spacing: 0.01em;
    min-width: 10em;
    max-width: 25em;
    padding-right: 2em;
    } 
.projectinfo-xs {
    font-family: 'Merriweather', serif;  
    letter-spacing: 0.01em;
    min-width: 10em;
    max-width: 100%;
    font-size: 1em;
    }
.projectinfo h3 {
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 0.03em;
    padding-bottom: 0.5em;
    }  
.projectinfo-xs h3 {
    font-size:2em;
    font-weight: 300;
    letter-spacing: 0.03em;
    padding-bottom: 0.5em;
    }  
.projectcopy {
    font-family: 'Merriweather', serif; 
    font-weight: 300;
    font-size: 0.82em;
    line-height: 1.6;
    letter-spacing: 0.01em;
    min-width: 5em;
    } 
.padding-lg {
    padding: 7.5em 0em 7em 0em;
}
.projectcopy h3 {
    font-size: 1em;
    font-weight: 400;
}
.left-col {
    padding-left: 7em;
    padding-right: 0em;
}
.right-col {
    padding-left: 0em;
    padding-right: 7em;
}
/* XS --> SM - Small devices (tablets, 768px and up) */
@media (max-width: 760px) {
    .left-col, .right-col {
    margin: 1.5em 3em; /* 3em to match menu width  - (0.5em less) */
    padding: 0em;  
    min-width: 10em;    
}
    .copy {
    padding: 7.5% 0em;
    }
}
.copy {
    background-color: #fff;
}
@media only screen and (max-width: 760px) {
    .copy {
    background-color: #fff;
    z-index: 4;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);    
    }
}

.intro {
    font-weight: 300;
    font-style: italic;
    font-size: 1em;
    line-height: 1.43;
    padding-bottom: 1.5em;
    min-width: 10em;
    max-width: 23em;
    }  
.intro-xs {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-style: italic;
    font-size: 1em;
    line-height: 1.43;
    padding-bottom: 1.5em;
    min-width: 10em;
    max-width: 100%;
    }  
.subhead {
    font-size: 0.75em;
    font-weight: 400;
    letter-spacing: 0.02em;
    padding-bottom: 1em;
    } 
.tag {
    padding-bottom: 0em;
}
.tag-xs {
    padding-bottom: 1em;
}
li {
    font-family: 'Inconsolata', Courier, "Lucida Grande", monospace;
    font-size: 0.85em;
    letter-spacing: 0.02em;
    margin-bottom: 5px;
    line-height: 1.1em;
    list-style-type: none;
    }
.quote {
    font-style: italic;
    font-size: 1.3em;
    line-height: 1.55em;
}
.quoteauthor {
    font-weight: 400;
    padding-top:1.9em;
}
@media screen and (max-width: 767px) {
    .quoteauthor {
    font-weight: 400;
    padding-top:1em;
    padding-bottom: 1em;    
}
}


/*Gradient Scroll*/

.bg-SOH {
min-height: 3000px;
background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 4%, rgba(232,241,253,1) 18%, rgba(232,241,253,1) 39%, rgba(232,241,253,1) 63%, rgba(232,241,253,1) 65%, rgba(255,238,247,1) 94%, rgba(255,238,247,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(4%, rgba(255,255,255,1)), color-stop(18%, rgba(232,241,253,1)), color-stop(39%, rgba(232,241,253,1)), color-stop(63%, rgba(232,241,253,1)), color-stop(65%, rgba(232,241,253,1)), color-stop(94%, rgba(255,238,247,1)), color-stop(100%, rgba(255,238,247,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 4%, rgba(232,241,253,1) 18%, rgba(232,241,253,1) 39%, rgba(232,241,253,1) 63%, rgba(232,241,253,1) 65%, rgba(255,238,247,1) 94%, rgba(255,238,247,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 4%, rgba(232,241,253,1) 18%, rgba(232,241,253,1) 39%, rgba(232,241,253,1) 63%, rgba(232,241,253,1) 65%, rgba(255,238,247,1) 94%, rgba(255,238,247,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 4%, rgba(232,241,253,1) 18%, rgba(232,241,253,1) 39%, rgba(232,241,253,1) 63%, rgba(232,241,253,1) 65%, rgba(255,238,247,1) 94%, rgba(255,238,247,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 4%, rgba(232,241,253,1) 18%, rgba(232,241,253,1) 39%, rgba(232,241,253,1) 63%, rgba(232,241,253,1) 65%, rgba(255,238,247,1) 94%, rgba(255,238,247,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffeef7', GradientType=0 );
}
@media only screen and (max-width: 760px) {
    .bg-SOH {
    background: #fff;
    background-color: #fff;
    }
}

.bg-ADC {
min-height: 3000px;
background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 4%, rgba(232,241,253,1) 18%, rgba(232,241,253,1) 63%, rgba(240,255,253,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(4%, rgba(255,255,255,1)), color-stop(18%, rgba(232,241,253,1)), color-stop(63%, rgba(232,241,253,1)), color-stop(100%, rgba(240,255,253,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 4%, rgba(232,241,253,1) 18%, rgba(232,241,253,1) 63%, rgba(240,255,253,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 4%, rgba(232,241,253,1) 18%, rgba(232,241,253,1) 63%, rgba(240,255,253,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 4%, rgba(232,241,253,1) 18%, rgba(232,241,253,1) 63%, rgba(240,255,253,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 4%, rgba(232,241,253,1) 18%, rgba(232,241,253,1) 63%, rgba(240,255,253,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0fffd', GradientType=0 );
}
@media only screen and (max-width: 760px) {
    .bg-ADC {
    background: #fff;
    background-color: #fff;
    }
}


.bg-short {
background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(212,231,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(212,231,255,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(212,231,255,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(212,231,255,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(212,231,255,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(212,231,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d4e7ff', GradientType=0 );
}
@media only screen and (max-width: 760px) {
    .bg-short {
    background: #fff;
    background-color: #fff;
    }
}




.whitebg {
    background-color: #fff;
    z-index: 2;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    height: 100%;
    padding: 0px 15px;
}

/* Collapsible container */   
.clickable {
    cursor: pointer;
}
.clickable .glyphicon {
    display: inline-block;
    padding: 6px 6px;
}
.panel {
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,1);
    box-shadow: 0 1px 0 rgba(0,0,0,1);
    border:none;
    border-radius: 0px;
    margin-bottom: 15px;
}    
.panel-primary, .panel-title, .panel-collapsed, .panel-heading {
    border:none;
    background-color: #fff;
} 
.panel-primary > .panel-heading {
    color: #000;
    background-color: #fff;
    border:none;
}   
.panel-heading {
    padding: 15px 0px 13px 0px;
    border-bottom: none;
    border-top-left-radius: none;
    border-top-right-radius: none;
}    
.panel-heading span {
    margin-top: -23px;
    font-size: 15px;
    margin-right: -9px;
}
.panel-body {
    display: none;
    width: 100%;
    border-bottom: none;
    padding: 10px 0px 0px 0px;
}
a.clickable { 
    color: inherit; 
}
a.clickable:hover { 
    text-decoration:none; 
}

/* XS collapsible */
@media screen and (max-width: 767px) {
    .panel-heading {
    padding: 10px 0px 10px 0px;
    border-bottom: none;
    border-top-left-radius: none;
    border-top-right-radius: none;
    }    
    .panel, .panel-primary {
  margin-bottom: 12px;
    }
}

/* 2-col images */
.nopadding-left {
    padding-left: 0px;
}
.nopadding-left > img {
    width: 100%;
}
.nopadding-right {
    padding-right: 0px;
}
.nopadding-right > img {
    width: 100%;
}


/* Carousel */
.carousel-control.left, .carousel-control.right {
    background-image: none
}
.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  background-color: rgba(0, 0, 0, 0);
  filter: alpha(opacity=50);
  opacity: .5;
}

/* Video content */
.videosize {
	position: relative;
	padding-bottom: 54%;
	padding-top: 25px;
	height: 0;
}
.videosize iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.videowrapper {
    position: relative;
}
.videothumbnail {
    display: block;
    z-index: 12;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    color: #000;
    background-position: center center;
    background-repeat: no-repeat;
}
#thumbnail-Adapt1 {
    background-image: url("../../links/images/adaptventures/SamLloyd_AdaptVentures_Video1b.jpg");
}
#thumbnail-ADC1 {
    background-image: url("../../links/images/adc/SamLloyd_ADC_Video1.jpg");
}
#thumbnail-ADC2 {
    background-image: url("../../links/images/adc/SamLloyd_ADC_Video2.jpg");
}
#thumbnail-BN1 {
    background-image: url("../../links/images/baileynelson/SamLloyd_BaileyNelson_Video1.jpg");
}
#thumbnail-StandApart1 {
    background-image: url("../../links/images/standapart/SamLloyd_StandApart_Video1c.jpg");
}
#thumbnail-SOH1 {
    background-image: url("../../links/images/sydneyoperahouse/SamLloyd_SydneyOperaHouse_Video1.jpg");
}
#thumbnail-SOH2 {
    background-image: url("../../links/images/sydneyoperahouse/SamLloyd_SydneyOperaHouse_Video2.jpg");
}
#thumbnail-SOH3 {
    background-image: url("../../links/images/sydneyoperahouse/SamLloyd_SydneyOperaHouse_Video3.jpg");
}
#thumbnail-SOH4 {
    background-image: url("../../links/images/sydneyoperahouse/SamLloyd_SydneyOperaHouse_Video4.jpg");
}

/* Footer */
    #mail-sm {
    height: 0.8rem !important;
    width: auto !important;
    line-height: 6em;
    vertical-align: middle;
    position: absolute;
    top: 0.1rem;
    }
.nopadding a:hover {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    padding: 0px;
}

/* media queries ================================================ */


/* XS ----------- */
@media only screen and (max-width: 760px) {
    
    
    .container, .row, .col-xs-12 .container, .visible-xs-block { 
    padding: 0px;
    margin: 0px; 
}            
    
    body .container { overflow: hidden; } /* width fix */
    body .container > * { overflow: visible; } /* reset back to normal */ 
    
    .row-height {
    height: 9em;
} 
    #header-container {   
    padding: 3.75em 0em 4em 0em;
}
    .col-sm-8 {
    padding: 0px;
   
}
    .xs-menu {
    z-index: 15;
    position: fixed;
    left: 0;
    top: 0;
    display: table-cell;
    vertical-align: middle;
    background-color: #fff;
    width: 3.5em;
    height: 3.5em;
}
    .xs-menu p {
    font-family: 'Inconsolata', Courier, "Lucida Grande", monospace;
    text-align: center;
    vertical-align: middle; 
    font-size: 1.65em;
    letter-spacing: -0.15em;
    position: relative; 
    top: 0.11em;
    left: -0.1em;    
    padding: 0em;
}
    /* Typography */
p {
    font-family: 'Inconsolata', Courier, "Lucida Grande", monospace;
    color: #000;
} 
a, a:link, a:visited {
    color: #000;
    text-decoration: none;   
}
a:active {
    color: #000;
    text-decoration: none;  
}

/* Footer */
    
    .footer-xs {
    background-color: #fff;
    width: 100%;
    height: 6em;
    text-align: center;
    vertical-align: middle;
    line-height: 6em;   
}
    .zigzag-xs {
    background-color: #000;
    position: relative;
    width: 100%;
    height: 6em
}
    .zigzag-xs:before {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    width: 100%;
    height: 10px;  
}
    .zigzag-wrap{
    background: #fff;
}
    .zigzag-wrap:before {
    background:
    linear-gradient(
    45deg, transparent 33.333%,
    #fff 33.333%, #fff 66.667%,
    transparent 66.667%
    ),
    linear-gradient(
    -45deg, transparent 33.333%,
    #fff 33.333%, #fff 66.667%,
    transparent 66.667%
    );
    background-size: 10px 20px;
}    
    .baselineshift {
    top: -0.02em
}
    #mail {
    height: 1rem;
    width: auto;
    line-height: 6em;
    vertical-align: middle;
    position: absolute;
    top: 0.26rem;
    }
    
}


/* S ----------- */
@media (min-width: 768px) and (max-width: 991px) {
    /* background-color:antiquewhite; */
    .container {
        padding: 0px
    }
    body {
    font-size: 1.2em;
    }
    #header-container {   
    padding: 2.5em 0em 2.5em 0em;
}
}

/* M ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
        /* background-color:beige; */
    body {
    font-size: 1.25em;
    }
    .row-height {
    height: 7.5em;
}
    #header-container {   
    padding: 2.5em 0em 2.5em 0em;
}
}

/* L ----------- */
@media (min-width: 1200px) and (max-width: 1499px) {
        /* background-color:darkseagreen; */
    body {
    font-size: 1.25em;
    }
    .row-height {
    height: 10em;
}
    #header-container {   
    padding: 4em 0em 2.5em 0em;
}
}

/* XL ----------- */
@media (min-width: 1500px) {
            body {
    font-size: 1.4em;
    }
    .container {
    width: 1300px;
}
    .row-height {
    height: 12em;
}
    #header-container {   
    padding: 6em 0em 0em 0em;
    /* background-color: aliceblue; */    
}
    .projectinfo {
        margin-left: 0.2em;
    }
}