/*Typefaces*/
@import url(https://fonts.googleapis.com/css?family=Merriweather:300italic,300,400);	
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

* {
		margin: 0;
		padding: 0;
	} 
	
figure {margin: 0;}

body,html {
    width: 100%;
    height: 100%;
}

body {
    background-size:cover;
    background-attachment:fixed;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    font-size:100%;
    }
.row-height {
    height: 6.5em;
} 
.footer {
    font-family: 'Inconsolata', Courier, monospace;
    font-size: 0.8em;
    letter-spacing: 0.02em;
    padding-top:0.8em;
} 
.footer a {
  color: #414141;
  text-decoration: none;
}
.footer a:hover {
    text-decoration: none;
    /* color: #0052c1;
    background-color: #e8f1fd; */
    color: #414141;
    background-color: #e8f1fd;
    padding: 2px 0px;
    webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
}
.col-sm-8 > img {
    width: 100%;
}

ol, table, p, a, table, td, tr {
    margin:0;
    padding:0;
}

#posts{
    display:inline-block;
    width:100%;
    position:absolute;
    height:100%;
    left: 0;
    top: 0;
}

.post{
    background-attachment:fixed;
    width:100%;
    height:100%;

    background-repeat:no-repeat;
    background-position:center;
	}

.post{
		background-size:auto 80%;
	}
	
.post td{
    width:34%;
}
	
.caption{
		font-size:11px;
		margin:auto;
		text-align:left;
		padding-left:20px;
		max-width:80px;
	}

.noise {
    max-width: 100%;
}

.noise:hover
{
    opacity: 0;
}

.noise-xs {
    max-width: 100%;
    z-index: 1;
}

.noise-xs:hover
{
    opacity: 100;
}
	
#noise {
position:fixed;
top:3%;
left:0;
right:0;
text-align: center;
display: block;
z-index:501;
	}
	
#namepadding{
position: fixed;
color: black;
padding-top: 1px;
font-family: 'Inconsolata', Courier, monospace;
font-size: 0.85em;
letter-spacing: 0.02em;  
/* center the element */
top:3%;
right: 0;
left: 0;
margin-right: auto;
margin-left: auto;
/* give it dimensions */
height:33px;
width:102px;
background-color:#fff;
text-align: center;
vertical-align: middle;
line-height: 33px;  
z-index: 500;
	}	



/* project pages */
 
    
.fixed {
    position: fixed;
    /*
    background-color:#f1f1f1;*/
    margin: 0;
    padding: 0 !important;
}    

/* typesetting */       
p, h3, li {
    color: #414141;
    }    
.projectinfo {
    font-family: 'Merriweather', serif;  
    letter-spacing: 0.01em;
    min-width: 10em;
    max-width: 24em;
    padding-right: 2em;
    } 
.projectinfo-xs {
    font-family: 'Merriweather', serif;  
    letter-spacing: 0.01em;
    }
.projectinfo h3 {
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 0.03em;
    padding-bottom: 0.5em;
    }  
.projectinfo-xs h3 {
    font-size:2em;
    font-weight: 300;
    letter-spacing: 0.03em;
    padding-bottom: 0.5em;
    }  
.projectcopy {
    font-family: 'Inconsolata', Courier, monospace;
    font-weight: 300;
    font-size: 0.85em;
    letter-spacing: 0.02em;
    min-width: 5em;
    padding: 7.5em 0em;
    } 
.left-col {
    padding-left: 6em;
}
.right-col {
    padding-left: 1em;
    padding-right: 6em;
}
.copy {
    background-color: #f0f0f0;
}
.intro {
    font-weight: 300;
    font-style: italic;
    font-size: 1em;
    line-height: 1.43;
    padding-bottom: 1em;
    min-width: 10em;
    max-width: 24em;
    }  
.subhead {
    font-size: 0.75em;
    font-weight: 400;
    letter-spacing: 0.02em;
    }    
li {
    font-family: 'Inconsolata', Courier, monospace;
    font-size: 0.85em;
    letter-spacing: 0.02em;
    line-height: 1.5;
    list-style-type: none;
    }
